body{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
}
ul {
	list-style:none;
	margin:0px;
	background:rgb(103, 175, 223);
	overflow:hidden;
	width: 100%;
	height: 50px;
	display: flex;
	text-align: center;
	align-items: center;

}
li{
	float:left;
}
li a {
	
	margin: 30px;
	color:white;
	padding: 10px ;
	text-decoration:none;
}
a ,h1{
	text-transform: uppercase;
}
li:hover{
	background:rgb(2, 161, 148);
	height: 50px;
	display: flex;
	text-align: center;
	align-items: center;
	color: rgb(2, 161, 148);

}
.footers {
	margin-bottom: -450px;
	margin-left: 0px;
	text-align: center;
	width: 100%;
	height: 100px;
	background:rgb(125, 173, 173);
	
}



.pic{
	border-radius: 50%;
	margin-top: -50px;
	padding: 20px;

}
p{
	color: white;
	margin-top: 10px;
}

