body{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	background:rgb(223, 223, 214);
}
ul {
	list-style:none;
	margin:0px;
	background:rgb(103, 175, 223);
	overflow:hidden;
	width: 100%;
	height: 50px;
	display: flex;
	text-align: center;
	align-items: center;

}
li{
	float:left;
}
li a {
	
	margin: 30px;
	color:white;
	padding: 10px ;
	text-decoration:none;
}
a ,h1{
	text-transform: uppercase;
}
li:hover{
	background:rgb(2, 161, 148);
	height: 50px;
	display: flex;
	text-align: center;
	align-items: center;
	color: rgb(2, 161, 148);

}
.footers {
	margin-bottom: -450px;
	margin-top: -300px;
	margin-left: 0px;
	text-align: center;
	width: 100%;
	height: 120px;
	/* background:rgb(192, 206, 206); */
	
}

input[type="send"]:hover{
	background-color: rgb(43, 43, 231);
}
input[type="submit"]:hover{
	background-color: rgb(85, 84, 84);
}

.pic{
	border-radius: 50%;
	margin-top: -5px;
	padding: 10px;
	
	

}
.text{
	color:white;
	margin-top: 10px;
	font-size: 20px;
}
.pro{
	border-radius: 50%;
	padding: 20px;
}
.cv{
	display: flex;
	
}
.data{
	margin-left: 200px;
}
input[type="send"]{
	background:rgb(83, 147, 199);
	width: 120px;
	height: 40px;
	border-radius: 10px;
	border: none;
	font-size: 20px;
}
h2,h3{
	text-align: center;
	color: rgb(22, 132, 196);
}
.edu2{
	margin-left:60%;
	margin-top: -350px;

	
}
.edu1{
	margin-left: 70px;
	
	
}
.box{
	text-align: center;
	margin-top: 50px;
	
}
.txt{
	width: 50%;
	height: 200px;
	background:rgba(243, 188, 161, 0.342);
	position: relative;
	top: 400px;
}
.banner{
	width: 60%;
	height: 250px;
	background: rgba(185, 183, 183, 0.534);
	position: relative;
	top: -760px;
	left:  200px;
}
.tx{
	
	text-align: center;
	font-size: 40px;
	font-family: serif;

}
.viewpro{
	position: relative;
	top: -760px;
	left:  450px;
	
}
.view{
	border-radius: 50%;
}
input[type="submit"]{
	background:rgba(136, 133, 133, 0.685);
	border: none;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	display: flex;
	margin-left: 50px;
	font-family: serif;
	font-size: 15px;
	
}

fieldset{
	width: 50%;
	height: 330px;
	position: relative;
	left: 660px;
	top:-360px ;
	background: rgba(232, 228, 247, 0.63);
	margin-top: 5px;
}
.map{
	margin-top: 20px;
}
input[type="text"],input[type="email"],input[type="password"]{
	width: 90%;
	height: 30px;
	
}
.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
	
}
.btn:hover {
	background-color: RoyalBlue;
}




